body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: black;
}

div.off {
    color: rgba(0,0,0,0);
}

div.on {
    color: rgba(255,255,255,1);
    transition: color 1s ease-in;
}

button#inputFieldButton {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    height: 12.95%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: black;
}

div.divRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    height: 4.54545%;
}

div.divRow div {
    width: 1.17647%;
}